<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExcelFile"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\test4.xlsx;Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';"
         providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <globalization culture="th-TH" uiCulture="th-TH" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
